<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.king.app.updater">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application>

        <service android:name="com.king.app.updater.service.DownloadService"/>

        <provider
            android:name="com.king.app.updater.provider.AppUpdaterFileProvider"
            android:authorities="${applicationId}.AppUpdaterFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/app_updater_paths"/>
        </provider>

    </application>

</manifest>